.box,
.box2,
.box3 {
    padding: 95px 165px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.box {
    background: #ED4C5C;
}

.box2 {
    background: #ffffff;
}

.box>div {
    width: 45%;
}

.box .slider img {
    width: 100%;
    height: auto;
}

.box .content .icons {
    color: #FFFFFF;
}

.box .content a {
    text-decoration: none;
    margin: 0px 12px;
}

.box .content a:first-child {
    margin-left: 0px;
}

.box .content a:last-child {
    margin-right: 0px;
}

.box h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.box p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.box2 .content,
.box2 form {
    width: 45%;
}

.box2 h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 50px;
}

.box2 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}

.box2 .input {
    height: 60px;
    width: calc(100% - 6px);
    border: 1px solid #333333;
    border-radius: 6px;
    margin-bottom: 24px;
}

.box2 select {
    height: 60px;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-bottom: 24px;
}

.box2 .first-name,
.box2 .last-name {
    width: 45%;
}

.box2 .input-wrapper {
    display: flex;
    justify-content: space-between;
}

.box2 .button {
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    background: #ED4C5C;
    border-radius: 6px;
    padding: 17px 34px 16px 34px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.box3 {
    background: #FAFAFA;
}

.box3 .address>h2 {
    width: 65px;
    height: 22px;
    left: 166px;
    top: 1130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.box3 .address>p {
    width: 254px;
    height: 54px;
    font-family: 'Lato';
    line-height: 150%;
    color: #101010;
}

.box3 .services>h2 {
    height: 22px;
    left: 450px;
    top: 1130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.box3 .services>ul {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.box3 .Get_In_Touch {
    width: 122px;
    height: 128px;
    left: 734px;
    top: 1130px;
}

.box3 .Get_In_Touch>h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

.box3 .Get_In_Touch .img {
    position: absolute;
    width: 66px;
    height: 14px;
    left: 734px;
    top: 1244px;
}