body {
    font-family: 'Tiro Bangla', serif;
    padding: 30px 250px;
}

header {
    text-align: left;
    border-image-width: auto;
}

main {
    text-align: left;
}

footer {
    text-align: left;
}

.list {
    text-align: left;
}

.title {
    text-align: left;
}